<%- include('../partials/header.ejs')%>

<div class = "center">
    <form action = '/events' method = 'POST'>
        <table>
            <tr>
                <td><label for="author">Name</label></td>
                <td><input type="text" id="name" name="name" class = "fixed-width"></td>
            </tr>
            <tr>
                <td><label for="title">Host Name</label></td>
                <td><input type="text" id="hostName" name="hostName" class = "fixed-width"></td>
            </tr>
            <tr>
                <td class = "align-top"><label for="content">Topic</label></td>
                <td><textarea rows="5" id="topic" name="topic" class = "fixed-width"></textarea></td>
            </tr>
            <tr>
                <td class = "align-top"><label for="content">Category</label></td>
                <td><textarea rows="5" id="category" name="category" class = "fixed-width"></textarea></td>
            </tr>
            <tr>
                <td colspan="2" class = "align-right"><button>Submit</button></td>
            </tr>
        </table>        
    </form>

    </div>

<%- include('../partials/footer.ejs')%>