<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Alex Stoynev">
    <title>Niner Coffee House</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/styles.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body style="background-color: grey;">
        <nav class="circle">
            <a  href="/"> <img src="/images/logo.png" alt="logo" height="100" width="100" > </a>
            <a  href="/events/newConnection">Start A new Connection</a>
            <a  href="/login">Login</a>
            <a  href="/reservations">Sign Up</a>
            <a  href="/events">Community</a>
            <a  href="/map">Map</a>
            <a  href="/contact">Contact</a>
            
        </nav>

  
    