<%- include('../partials/header.ejs')%>
<h1 class="center">
    Cars and Coffee            
</h1>
<img src="images/cars.png"  alt="logo" height="200" width="200" id="image">

<a class="btn btn-primary " id="center1"  href="connections">Update</a>
<br>
<a class="btn btn-primary" id="center2"   href="connections">Login</a>
<br>


<div class="center">
<p>Saturday October 22, 2022
    11:00 AM - 12:00PM
    North Deck
</p>
<h2>
    Details
</h2>
<p>Cars and Coffee, come to admire the cars and relax</p>
</div>

<%- include('../partials/footer.ejs')%>