<%- include('../partials/header.ejs')%>
<body>
  
<div class="center">
    <h1>Contact Form</h1>
</div>
<div id="contactForm">
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-930ad942-351c-4790-addd-421c01912010"></div>
</div>

</body>

<%- include('../partials/footer.ejs')%>