<%- include('../partials/header.ejs')%>
  
    <h1 class="center">Welcome to Alex's Connections site.</h1>
    <p class = "center" style="font-size:25px;">
        View some of our connections that we are offering! We have a wide variety of events going on and would love for you to check them out!
    </p>
    
    <style>
        #rcorners1 {
            border-radius: 50px / 15px;
            background: #b9b9b9;
            padding: 20px; 
            width: 200px;
            height: 75px; 
        }
    </style>

    <h4 id = "rcorners1" class = "center"><b>News Feed</b></h4>

    <div id="Newsfeed">
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-675c8815-2eaa-41ae-ad3b-b02efda943c2"></div>
    </div>

</body>

<%- include('../partials/footer.ejs')%>
